body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.slider-container {
  position: relative;
  width: 100px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.slider {
  position: absolute;
  display: flex;
}

img {
  width: 100px;
  height: 100px;
}

.slide {
  display: none;
}

.slide.active-slide {
  display: block;
}

.arrow {
  width: 30px;
  height: 30px;
}

.left {
  transform: rotate(90deg);
}

.right {
  transform: rotate(-90deg);
}

.circle-container {
  position: absolute;
  top: 110px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 2px solid red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.active-circle {
  background-color: red;
}